# The pooled connection for Next.js to use during normal operation
# For Neon, use the -pooler host and add ?pgbouncer=true
DATABASE_URL="postgresql://user:password@ep-host-pooler.region.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"

# The direct connection for Prisma to use when pushing schema changes
# For Neon, use the non-pooler host
DIRECT_URL="postgresql://user:password@ep-host.region.aws.neon.tech/neondb?sslmode=require"

# Other environment variables
CRON_SECRET="your_cron_secret"
PRICE_WEBHOOK_SECRET="your_price_webhook_secret"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your_clerk_pub_key"
CLERK_SECRET_KEY="your_clerk_secret_key"
